.user-page {
  width: 100%;
  height: 100%;
  padding: 0 40px;
  box-sizing: border-box;
  .user-info{
    display: flex;
    .avatar {
      border-radius: 50%;
      width: 100px;
      height: 100px;
      margin-right: 20px;
      overflow: hidden;
    }
    >View{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .name, .city {
      display: block;
      font-size: 38px;
      font-weight: 900;
      color: #333;
      word-break: break-all;
    }
    .city{
      font-size: 30px;
      font-weight: 100;
      color: #7f7f7f;
    }
  }
  .more-info{
    margin-top: 20px;
    font-size: 36px;
    .item{
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #333;
      padding: 30px 0;
      border-bottom: 1px solid #d5d5d5;
    }
    Image{
      width: 30px;
      height: 30px;
      margin-right: 20px;
    }
  }
}
